{% extends 'web/base.html' %}
<style>
 .otherReasonTextBox1 {
     display:none;
 }
</style>
<script type="text/javascript">
$(document).ready(function (e) {
    $('#reasonDropDown').change(function () {
        alert('haha123');
        if ($(this).val() == 'other1') {
            $('.otherReasonTextBox1').show();
        } else {
            $('.otherReasonTextBox1').hide();
        }
    });
});
</script>     
        {% block content %}
        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header"></h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-comments fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">260</div>
                                    <div>New Tweets!</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6">
                    <div class="panel panel-yellow">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-shopping-cart fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">12</div>
                                    <div>Pending Jobs!</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="panel panel-red">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-support fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">13</div>
                                    <div>Support Tickets!</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-12">
                    <!-- /.panel -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-bar-chart-o fa-fw"></i> Trending Hastags Right
                            <div id="myModal" class="modal fade" role="dialog">
                            <div class="modal-dialog">

                            <!-- Modal content-->
                            <div class="modal-content">
                              <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">Select Tweets</h4>
                              </div>
                              <div class="modal-body">
                              <select id="reasonDropDown" name="Select">
                                    <option value="other1" id="other1">Other1</option>
                                    <option value="other2" id="other2">Other2</option>
                                    <option value="other3" id="other3">Other3</option>
                                    <option value="other4" id="other4">Other4</option>
                                    <option value="other5" id="other5">Other5</option>
                              </select>
                                <div class="otherReasonTextBox1">Other Reason Textbox1</div>
                                <div class="otherReasonTextBox2">Other Reason Textbox2</div>
                                <div class="otherReasonTextBox3">Other Reason Textbox3</div>
                                <div class="otherReasonTextBox4">Other Reason Textbox4</div>
                                <div class="otherReasonTextBox5">Other Reason Textbox5</div>
                              </div>
                              <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                              </div>
                            </div>

                            </div>
                            </div>
                            <div class="pull-right">
                                <div class="btn-group">
                                    <button type="button" data-toggle="modal" data-target = "#myModal">
                                       View Tweets
                                        <span class="caret"></span>
                                    </button>
                                    
                                </div>
                            </div>
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="table-responsive">
                                        <table id = "tableId" class="table table-bordered table-hover table-striped">
                                            <thead>
                                                <tr>
                                                    <th>Hashtag</th>
                                                    <th>Exposure</th>
                                                    <th>Unique Tweets</th>
                                                    <th>Retweets</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>#orlando</td>
                                                    <td>68,735,221</td>
                                                    <td>2,208</td>
                                                    <td>5,738</td>
                                                </tr>
                                                <tr>
                                                    <td>#brexit</td>
                                                    <td>43,395,721</td>
                                                    <td>2,262</td>
                                                    <td>3,434</td>
                                                </tr>
                                                <tr>
                                                    <td>#fashion</td>
                                                    <td>7,864,383</td>
                                                    <td>2,321</td>
                                                    <td>683</td>
                                                </tr>
                                                <tr>
                                                    <td>#iphone</td>
                                                    <td>3,152,192</td>
                                                    <td>2,183</td>
                                                    <td>259</td>
                                                </tr>
                                                <tr>
                                                    <td>#mplusrewards</td>
                                                    <td>152,154</td>
                                                    <td>2,275</td>
                                                    <td>8</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <!-- /.table-responsive -->
                                </div>
                                <!-- /.col-lg-4 (nested) -->
                                <!-- /.col-lg-8 (nested) -->
                            </div>
                            <!-- /.row -->
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-bar-chart-o fa-fw"></i> Number of Tweets Flagged

                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body" id = "append">
                            <div id="morris-area-chart"></div>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-clock-o fa-fw"></i> Timeline: Orlando Shooting
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <ul class="timeline">

                                <li class="timeline">
                                    <div class="timeline-badge info"><i class="fa fa-info"></i>
                                    </div>
                                    <div class="timeline-panel">
                                        <div class="timeline-heading">
                                            <h4 class="timeline-title">Orlando Police</h4>
                                            <p><small class="text-muted"><i>@OrlandoPolice</i></small></p>
                                        </div>
                                        <div class="timeline-body">
                                            <p>Official victim count: 49 shooting victims plus suspect. Total 50.</p>
                                        </div>
                                        <br>
                                        <p><small class="text-muted"><i>4:34 am - 13 Jun 2016</i></small></p>
                                    </div>
                                </li>

                                <li class="timeline-inverted">
                                    <div class="timeline-badge info"><i class="fa fa-info"></i>
                                    </div>
                                    <div class="timeline-panel">
                                        <div class="timeline-heading">
                                            <h4 class="timeline-title">Orlando Police</h4>
                                            <p><small class="text-muted"><i>@OrlandoPolice</i></small></p>
                                        </div>
                                        <div class="timeline-body">
                                            <p>Any information you have could aid investigators in this case.</p>
                                        </div>
                                        <br>
                                        <p><small class="text-muted"><i>6:35 PM - 12 Jun 2016</i></small></p>
                                    </div>
                                </li>

                                 <li class="timeline">
                                    <div class="timeline-badge info"><i class="fa fa-info"></i>
                                    </div>
                                    <div class="timeline-panel">
                                        <div class="timeline-heading">
                                            <h4 class="timeline-title">Orlando Police</h4>
                                            <p><small class="text-muted"><i>@OrlandoPolice</i></small></p>
                                        </div>
                                        <div class="timeline-body">
                                            <p>Pulse Shooting: The shooter inside the club is dead.</p>
                                        </div>
                                        <br>
                                        <p><small class="text-muted"><i>5:53 PM - 12 Jun 2016 </i></small></p>
                                    </div>
                                </li>
                               
                                <li class="timeline-inverted">
                                    <div class="timeline-badge danger"><i class="fa fa-bomb"></i>
                                    </div>
                                    <div class="timeline-panel">
                                        <div class="timeline-heading">
                                            <h4 class="timeline-title">Orlando Police</h4>
                                            <p><small class="text-muted"><i>@OrlandoPolice</i></small>
                                        </div>
                                        <div class="timeline-body">
                                            <p>That sound was a controlled explosion by law enforcement. Please avoid reporting inaccuracies at this time.</p>
                                        </div>
                                        <br>
                                        <p><small class="text-muted"><i>5:05 PM - 12 Jun 2016</i></small></p>

                                    </div>
                                </li>
                                <li class="timeline">
                                    <div class="timeline-badge danger"><i class="fa fa-bomb"></i>
                                    </div>
                                    <div class="timeline-panel">
                                        <div class="timeline-heading">
                                            <h4 class="timeline-title">Orlando Police</h4>
                                            <p><small class="text-muted"><i>@OrlandoPolice</i></small>
                                        </div>
                                        <div class="timeline-body">
                                            <p>Shooting at Pulse Nightclub on S Orange. Multiple injuries. Stay away from area.</p>
                                        </div>
                                        <br>
                                        <p><small class="text-muted"><i>3:58 PM - 12 Jun 2016</i></small></p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-8 -->
                
                <!-- /.col-lg-4 -->
            </div>
            <!-- /.row -->
        </div>
        {% endblock %}
        <!-- /#page-wrapper -->

    <!-- /#wrapper -->

   
