   {% extends 'web/base.html' %}
    
        {% block content %}
        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">TWEET DASHBOARD</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-comments fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">260</div>
                                    <div>New Tweets!</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                            <!-- /.row -->
            <div class="row">
                <div class="col-lg-12">
                    <!-- /.panel -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-bar-chart-o fa-fw"></i> Trending Hastags Right                            
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="table-responsive">
                                        <table id = "tableId" class="table table-bordered table-hover table-striped">
                                            <thead>
                                                <tr>
                                                    <th>Hashtag</th>
                                                    <th>Exposure</th>
                                                    <th>Unique Tweets</th>
                                                    <th>Retweets</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>#orlando</td>
                                                    <td>68,735,221</td>
                                                    <td>2,208</td>
                                                    <td>5,738</td>
                                                </tr>
                                                <tr>
                                                    <td>#brexit</td>
                                                    <td>43,395,721</td>
                                                    <td>2,262</td>
                                                    <td>3,434</td>
                                                </tr>
                                                <tr>
                                                    <td>#fashion</td>
                                                    <td>7,864,383</td>
                                                    <td>2,321</td>
                                                    <td>683</td>
                                                </tr>
                                                <tr>
                                                    <td>#iphone</td>
                                                    <td>3,152,192</td>
                                                    <td>2,183</td>
                                                    <td>259</td>
                                                </tr>
                                                <tr>
                                                    <td>#mplusrewards</td>
                                                    <td>152,154</td>
                                                    <td>2,275</td>
                                                    <td>8</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <!-- /.table-responsive -->
                                </div>
                                <!-- /.col-lg-4 (nested) -->
                                <!-- /.col-lg-8 (nested) -->
                            </div>
                            <!-- /.row -->
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-bar-chart-o fa-fw"></i> Top 5 Retweets                            
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="table-responsive">
                                        <table  class="table table-bordered table-hover table-striped">
                                            <thead>
                                                <tr>
                                                    <th>Tweets</th>
                                                    <th>Entity</th>
                                                    <th>Sentiment</th>                     
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td id="row1col1">{% autoescape off %} {% endautoescape %}</td>
                                                    <td id="row1col2">{% autoescape off %} {% endautoescape %}</td>
                                                    <td id="row1col3">{% autoescape off %} {% endautoescape %}</td>
                                                </tr>
                                                <tr>
                                                    <td id="row2col1">{% autoescape off %} {% endautoescape %}</td>
                                                    <td id="row2col2">{% autoescape off %} {% endautoescape %}</td>
                                                    <td id="row2col3">{% autoescape off %} {% endautoescape %}</td>
                                                </tr>
                                                <tr>
                                                    <td id="row3col1">{% autoescape off %} {% endautoescape %}</td>
                                                    <td id="row3col2">{% autoescape off %} {% endautoescape %}</td>
                                                    <td id="row3col3">{% autoescape off %} {% endautoescape %}</td>
                                                </tr>
                                                <tr>
                                                    <td id="row4col1">{% autoescape off %} {% endautoescape %}</td>
                                                    <td id="row4col2">{% autoescape off %} {% endautoescape %}</td>
                                                    <td id="row4col3">{% autoescape off %} {% endautoescape %}</td>
                                                </tr>
                                                <tr>
                                                    <td id="row5col1">{% autoescape off %} {% endautoescape %}</td>
                                                    <td id="row5col2">{% autoescape off %} {% endautoescape %}</td>
                                                    <td id="row5col3">{% autoescape off %} {% endautoescape %}</td>
                                                </tr>
                                            </tbody>
                                        </table>

                                    </div>
                                    <!-- /.table-responsive -->
                                </div>
                                <!-- /.col-lg-4 (nested) -->
                                <!-- /.col-lg-8 (nested) -->
                            </div>
                            <!-- /.row -->
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-bar-chart-o fa-fw"></i> Number of Tweets Flagged

                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body" id = "append">
                            <div id="morris-area-chart"></div>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i  class="fa fa-clock-o fa-fw"></i> <span id = 'header'>Timeline: Orlando Shooting </span> 
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <ul class="timeline">

                                <li class="timeline">
                                    <div class="timeline-badge info"><i class="fa fa-info"></i>
                                    </div>
                                    <div class="timeline-panel">
                                        <div class="timeline-heading">
                                            <h4 id = "box1_head1" class="timeline-title">Orlando Police</h4>
                                            <p><small id = "box1_head2" class="text-muted"><i>@OrlandoPolice</i></small></p>
                                        </div>
                                        <div class="timeline-body" id = "box1_cont">
                                            <p>Official victim count: 49 shooting victims plus suspect. Total 50.</p>
                                        </div>
                                        <br>
                                        <p><small class="text-muted"><i>4:34 am - 13 Jun 2016</i></small></p>
                                    </div>
                                </li>

                                <li class="timeline-inverted">
                                    <div class="timeline-badge info"><i class="fa fa-info"></i>
                                    </div>
                                    <div class="timeline-panel">
                                        <div class="timeline-heading">
                                            <h4 id = "box2_head1" class="timeline-title">Orlando Police</h4>
                                            <p><small id = "box2_head2" class="text-muted"><i>@OrlandoPolice</i></small></p>
                                        </div>
                                        <div id = "box2_cont" class="timeline-body">
                                            <p>Any information you have could aid investigators in this case.</p>
                                        </div>
                                        <br>
                                        <p><small class="text-muted"><i>6:35 PM - 12 Jun 2016</i></small></p>
                                    </div>
                                </li>

                                 <li class="timeline">
                                    <div class="timeline-badge info"><i class="fa fa-info"></i>
                                    </div>
                                    <div class="timeline-panel">
                                        <div class="timeline-heading">
                                            <h4 id = "box3_head1" class="timeline-title">Orlando Police</h4>
                                            <p><small id = "box3_head2" class="text-muted"><i>@OrlandoPolice</i></small></p>
                                        </div>
                                        <div id = "box3_cont" class="timeline-body">
                                            <p>Pulse Shooting: The shooter inside the club is dead.</p>
                                        </div>
                                        <br>
                                        <p><small class="text-muted"><i>5:53 PM - 12 Jun 2016 </i></small></p>
                                    </div>
                                </li>
                               
                                <li class="timeline-inverted">
                                    <div class="timeline-badge danger"><i class="fa fa-bomb"></i>
                                    </div>
                                    <div class="timeline-panel">
                                        <div class="timeline-heading">
                                            <h4 id = "box4_head1" class="timeline-title">Orlando Police</h4>
                                            <p><small id = "box4_head2" class="text-muted"><i>@OrlandoPolice</i></small>
                                        </div>
                                        <div id = "box4_cont" class="timeline-body">
                                            <p>That sound was a controlled explosion by law enforcement. Please avoid reporting inaccuracies at this time.</p>
                                        </div>
                                        <br>
                                        <p><small class="text-muted"><i>5:05 PM - 12 Jun 2016</i></small></p>

                                    </div>
                                </li>
                                <li class="timeline">
                                    <div class="timeline-badge danger"><i class="fa fa-bomb"></i>
                                    </div>
                                    <div class="timeline-panel">
                                        <div class="timeline-heading">
                                            <h4 id = "box5_head1" class="timeline-title">Orlando Police</h4>
                                            <p><small id = "box5_head2" class="text-muted"><i>@OrlandoPolice</i></small>
                                        </div>
                                        <div id = "box5_cont" class="timeline-body">
                                            <p>Shooting at Pulse Nightclub on S Orange. Multiple injuries. Stay away from area.</p>
                                        </div>
                                        <br>
                                        <p><small class="text-muted"><i>3:58 PM - 12 Jun 2016</i></small></p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-8 -->
                
                <!-- /.col-lg-4 -->
            </div>
            <!-- /.row -->
        </div>
        {% endblock %}
        <!-- /#page-wrapper -->

    <!-- /#wrapper -->

   
